@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

:root {
  --line--blue: blue;
  --line--empty: rgb(182, 177, 177);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: grey;
  font-family: 'roboto', sans-serif;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  max-width: 100%;
  width: 350px;
  position: relative;
}

.progress-container::before {
  content: '';
  background-color: var(--line--empty);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  height: 4px;
  z-index: -1;
}

.line-progress {
  background-color: var(--line--blue);
  position: absolute;
  top: 50%;
  left: 0;
  width: 0%;
  transform: translateY(-50%);
  height: 4px;
  z-index: -1;
  transition: 1s ease;
}

.circle {
  border-radius: 50%;
  background-color: white;
  width: 30px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--line--empty);
}

.circle.active {
  border: 2px solid var(--line--blue);
}

.btn {
  border: none;
  border-radius: 6px;
  padding: 8px 28px;
  margin-right: 6px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: var(--line--blue);
  cursor: pointer;
}

.btn:active {
  transform: scale(1.05);
}

.btn:disabled {
  cursor: not-allowed;
  background-color: var(--line--empty);
}

.btn:focus {
  outline: none;
}
